html {
    scroll-behavior: auto !important;
}

body{
    font-family: helvetica;
    background-color: black;
}

/* Navbar */

.navbar{
    position: fixed;
    width: 100vw;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 20;   
}

.nav-black {
    background-color: rgb(48, 203, 231);
    opacity: 0.9;
    color: #fff;
}


/* Inicio */

#Inicio{
    color: #373A3C;
    font-family: 'Inter', sans-serif;
    line-height: 3;
}

/* Quienes Somos */

#Quienes-Somos h1 {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    color: white;
}

#Quienes-Somos i{
    color: #fff;
    padding-left: 10vw;
    padding-right: 10vw;
}

#Quienes-Somos p {
    color: #ffff;
    text-align: left;
}

/* Destacados */

#Destacados h1 {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.hr {
    color: rgb(69, 188, 228);
}

.card-title {
    color: rgb(235, 237, 207);
}

.card-text {
    color: rgb(235, 237, 207);
}

/* Contacto */

#Contacto h1 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: #fff;
}

.custom-tooltip {
    background-color: rgb(76, 206, 249);
    font-style: italic;
  }

  #enviar {
    color: rgb(235, 237, 207);
  }


/* Footer */

#Footer h1 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: rgb(235, 237, 207);
}

#Footer a {
    color: rgb(235, 237, 207);
    text-decoration: none;

}

#exampleModal {
    color: rgb(66, 175, 205);
}
